<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!-- Enables logging with NLog. -->
  <!-- Copy these settings to your App.config or your Web.config file -->
  <!-- if you want logging enabled. -->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="trace" xsi:type="Trace" layout="${longdate}    ${level}    ${logger}    ${message}" />
      <target name="file" xsi:type="File"   layout="${longdate}    ${level}    ${logger}    ${message}"
              filename=".\Log.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="trace" />
      <logger name="*" minlevel="Debug" writeto="file" />
    </rules>
  </nlog>
</configuration>